
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* You can add global styles to this file, and also import other style files */
header {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;


	font-weight: 300;
}

.header {
  overflow: hidden;
  padding: 5px 5px;
}


h1 {
font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
font-size: 50px;
margin-left: 30px;
padding:5px 5px;
font-weight: lighter;
}

h2 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 30px;
	font-weight: lighter;
}

h3 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 20px;

	line-height: 23px;
	font-weight: 300;
	margin: 10px 10px;
}

p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	line-height: 24px;
 	font-weight: 400;
	margin-left: 30px;
 }

 strong {
 	font-size: 16px;

 	line-height: 24px;
 }

 a {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;

	padding: 10px;
 }

label {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;

	line-height: 17px;
}

div {
	margin: 10px;
}

.form-group {
	margin-left: 30px;
}
