<div class="header">
  <h1> <span class="glyphicon glyphicon-leaf"></span> OE Group Maker </h1>
</div>

<div class="containter">
  <div class="row">
    <div class="col-xs-12 col-sm-20 col-md-12 ">
      <ul class="nav nav-tabs">
        <li role="presentation"> <a routerLink="/"> <p> <mat-icon class="home-icon">home</mat-icon> Home </p> </a> </li>
        <li role="presentation"> <a routerLink="/trips"> <p> <mat-icon class="trips-icon">map</mat-icon> Trips </p></a> </li>
      </ul>
    </div>
  </div>
</div>
